@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f8fa;
}
